* {
    box-sizing: border-box;
}
.menuBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
}
body{
    background: url(img/fondo.webp);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
h1{
    text-align: center;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98.7%;
    background-color: #000;
    color: #000;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.titulo{
    margin-top: -2%;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.menu-lista{
    display: flex;
    width: auto;
    padding: 0;
}
.menu-lista{
    list-style: none;
    padding: 1rem 0rem 0rem;
    width: 100%;
    margin: 0;
}
.menu-lista:first-child {
    border-top: none;
}
.menu-lista:first-child {
    border-top: 2px solid;
}

.menu-lista {
    padding: 0.5rem 0;
    margin: 0;
    text-align: center;
}
#contenedorpersonajes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.cartaper{
    align-items: stretch;
    width: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
   /* border:solid black 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    width:250px;
    border:1px solid grey;
    border-radius: 5px;
    margin: 5px;*/
}
.imagenper{
    width:100%;
}
.nombreper{
    align-self: center;
    margin-left: center;
    margin-right: center;
}